@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import './iconfont.css' ;   
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
    text-decoration: none;
}

body,html{
    font-family: 'Noto Sans TC', sans-serif;
    background: rgb(39, 36, 41);
}